@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Orbitron', sans-serif;
}
body{
    background-image: url(https://images.unsplash.com/photo-1478760329108-5c3ed9d495a0?auto=format&fit=crop&q=80&w=1548&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-repeat: no-repeat;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2.5rem;
    color: aquamarine;
}
h1{
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 4px;
    text-decoration: 4px solid underline;
    margin-bottom: 2rem;
    color:aquamarine;
}
h1::first-letter{
    font-weight: 700;
    font-size: 4rem;
}
form{
    margin-bottom: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
input{
    padding-left: 10px;
    font-size: 16px;
    border: 1px solid aqua;
    outline: none;
    height: 2.5rem;
    width: 12rem;
    border-radius: .5rem;
    color: aquamarine;
    background-color: transparent;
    letter-spacing: 2px;
}
form input::placeholder{
    color: aqua;
}
.scoreboard .player-country{
    text-transform: capitalize;
}
form button {
    all: unset;
    width: 10rem;
    height: 3rem;
    transition: all .5s ease;
    text-align: center;
    border-radius: .5rem;
    border: 1px solid aqua;
}
form button:hover{
    background-color: aquamarine;
    color: black;
    cursor: pointer;
}
.errorMessage{
    margin-bottom: 1rem;
    color: aqua;
    font-size: 14px;
    font-weight: 700;
    display: none;
    text-decoration: 1px solid underline;
}
.scoreBoard-container{
    width: 80%;
    max-width: 900px;
    gap: 5rem;
}
.scoreboard{
    height: 5.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem;
    margin-bottom: 1.2rem;
    border-radius: .5rem;
    color: black;
    background: linear-gradient(to left,rgb(139, 184, 139),aqua,aquamarine);
    box-shadow: 5px 5px rgba(139, 184, 139,.1);
}
.playerName{
    font-weight: 700;
}
.main-time{
    font-size: 12px;
    font-weight: 700px;
}
.scoreboard-btn-container{
    display: flex;
    justify-content: center ;
    align-items: center;
    gap: 5px;
    flex-wrap: wrap;
}
.scoreboard-btn-container button{
    width: 30px;
    height: 30px;
    background: transparent;
    border-radius: .5rem;
    color: aqua;
    border: 1px dotted black;
    font-weight: 600;
}
.scoreboard-btn-container button:hover{
    transition: .5s ease;
    transform: scale(1.2);
    background-color: aquamarine;
    color: black;
    cursor: pointer;
}
